.container {
  width: 100%;

  padding-left: var(--pad-sm);
  padding-right: var(--pad-sm);
  margin: 0 auto;
  /* outline: 1px solid black; */
}

@media screen and (min-width: 375px) {
  .container {
    max-width: var(--cont-sm);
  }
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: var(--cont-md);
  }
} */
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1054px;
  }
}
