@import url('./normalize.css');
@import url('./variables.css');
@import url('./container.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.body {
  /* igor */
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  /* /igor */
  color: var(--text-color-primery, black);
  line-height: normal;
  background: var(--body-bg, white);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: transparent;
}
.main {
}

.rigth {
  /* background-color: teal; */
}
@media screen and (min-width: 1140px) {
  .main {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 3.4rem;
  }
  .left {
    width: 64.7rem;
  }

  .rigth {
    width: 33.3rem;
    padding-left: 3.3rem;
    padding-right: 3.4rem;
    /* max-width: 33.3rem; */
  }
}
