/* Section Hero */

.section-hero {
  padding: 5.6rem 0;
}

.section-hero__title {
  color: black;

  font-size: 32px;

  font-weight: 700;
  text-align: center;
  letter-spacing: 0.64px;
  margin-bottom: 20px;
}

.section-hero__title span {
  color: #1386c7;
}

.section-hero_description {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 24px; /* 150% */
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.7);
}

/* Section Advantages */

.section-advantages_list-item {
  margin-bottom: 3.2rem;
}
.section-advantages_list-item:last-child {
  margin-bottom: 0;
}
.section-advantages__title,
.section-title {
  margin-bottom: 4rem;
  color: black;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.36px;
}

.section-advantages__title span,
.section-title span {
  color: #1386c7;
}

.section-advantages {
  padding-bottom: 3.2rem;
}

.section-advantages_img_thumb {
  width: 335px;
  height: 335px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-advantages_content-title {
  font-size: 18px;

  font-weight: 700;
  text-align: center;
  letter-spacing: 0.36px;
  color: #000;
  margin-bottom: 0.8rem;
}

.section-advantages_content-description {
  color: rgba(0, 0, 0, 0.7);
  min-width: 315px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
}

/* Section When */

.when-list {
  padding-bottom: 4rem;
}

.when-list_item {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #1386c7;
  padding: 2.6rem 1.8rem;
  margin-bottom: 2.4rem;
}
.when-list_item:last-child {
  margin-bottom: 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #1386c7;
  margin-bottom: 1.4rem;
}

.when-list_item-title {
  width: 158px;
  min-height: 3.8rem;
  margin: 0 auto;
  color: #1386c7;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.dont-delay {
  max-width: 56.3rem;
  color: #000000b2;

  font-size: 16px;

  font-weight: 700;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  margin-bottom: 4rem;
}

.dont-delay-first {
  color: #ef2a33;
}
.dont-delay-second {
  color: #1386c7;
}

@media screen and (min-width: 768px) {
  .section-advantages_list {
    display: flex;
    align-items: flex-start;

    flex-wrap: wrap;
    column-gap: 2rem;
  }

  .section-advantages__title {
    font-size: 22px;
  }

  .section-advantages_list-item {
    flex-basis: calc((100% - 2rem) / 2);
  }
  .when-list {
    display: flex;
    align-items: flex-start;

    flex-wrap: wrap;
    column-gap: 2.4rem;
  }

  .when-list_item {
    flex-basis: calc((100% - 2.4rem) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .section-advantages_list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .section-advantages_content-description {
    text-align: left;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1140px) {
  /* Section Hero */
  .section-hero {
    padding: 4rem 0 5.3rem;
  }
  .section-hero__title {
    max-width: 512px;
    font-size: 54px;
    text-align: left;
    letter-spacing: 1.08px;
    margin-bottom: 24px;
  }

  .section-hero_description {
    max-width: 563px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.7);
  }

  /* Section Adv */

  .section-advantages {
    padding-bottom: 5.3rem;
  }

  .section-advantages__title,
  .section-title {
    margin-bottom: 5.1rem;
    color: black;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
  }

  .section-advantages_img_thumb {
    margin-bottom: 0;
  }
  .section-advantages_list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 2.4rem;
  }

  .section-advantages_list-item:last-child {
    margin-bottom: 0;
  }
  .section-advantages_img_thumb {
    width: 147px;
    height: 147px;
  }

  .section-advantages_content {
    width: 396px;
  }

  .section-advantages_content-title {
    text-align: left;
  }

  .section-advantages_content-description {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.14px;
  }

  .when-list {
    max-width: 56.3rem;
  }
  .when-list_item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
