:root {
  /*   Colors */
  --body-bg: #ffffff;
  --gallary-bg: #bbe2f8;
  --header-color-bg: #1386c7;
  --footer-color-bg: #1386c7;
  --text-color-white: #ffffff;
  --text-color-primery: rgba(0, 0, 0, 0.7);
  --text-color-accent: #1386c7;

  accent-color: #f8f387;

  /* Container size */

  --sm: 68.7rem; /* 375 */
  --md: 98rem; /* 768 */
  /* --lg: 98rem; 
  --xl: 98rem;
  --xxl: 128rem; */

  --pad-sm: 2rem;
  --pad-md: 3rem;
  /* --pad-xl: 2rem * 2; */

  /* Container size  + paddings*/
  --cont-sm: calc(var(--sm) + var(--pad-sm) * 2);
  --cont-md: calc(var(--md) + var(--pad-md) * 2);
  --cont-lg: calc(var(--lg) + var(--pad-md));
  --cont-xl: calc(var(--xl) + var(--pad-md));
  --cont-xxl: calc(var(--xxl) + var(--pad-md));
}

/* --md: calc(68.7rem + var(--ps-cont)); */

/* Template */

/* @media screen and (min-width: 375px) {
  
  
}

@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1140px) {
  
  
}
@media screen and (min-width: 1440px) {
  
}
@media screen and (min-width: 1920px) {
  
}  */
