.header {
  max-width: 100%;
  padding: 2rem 0;
  background-color: var(--header-color-bg);
  border-radius: 0px 0px 50px 50px;
}

.wrapper_menu {
  display: flex;
  align-items: center;
  gap: 34.5rem;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list_address {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.item_address {
  display: flex;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 0.7rem;
}

.link_item {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0, 064rem;
  color: var(--text-color-white);
}

.link_address {
  font-size: 16px;
  letter-spacing: 0, 064rem;
  color: var(--text-color-white);
}

@media screen and (min-width: 768px) {
  .header {
  }
}

@media screen and (min-width: 1024px) {
  .header {
  }
}
