/* TODO refaktor style */

.section {
  padding-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.itemWrapper {
  width: 100%;
}

.listItem {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

.nestedList {
  margin-top: 2.4rem;
  list-style: disc;
  padding: 0 0 0 2.4rem;
}

.orderNumber {
  color: #1386c7;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
}

.contentTitle {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
  margin-bottom: 0.8rem;
}

.contentDescription {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
}

.nestedText {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
}

.nestedLi {
  margin-bottom: 2.4rem;
}

.nestedLi:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1140px) {
  .itemWrapper {
    max-width: 519px;
  }
}
