.navList {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

/* TODO change gap to margin */
/* @supports */

.linkItem {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0, 064rem;
  color: var(--text-color-white, #ffffff);
}
