.page {
  position: relative;
  min-height: 90vh;
  background-image: url('../../assets/america_2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Черный цвет с прозрачностью 50% */
}

.page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/america_2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Установка z-index, чтобы изображение было под затемнением */
}
.wrapper {
  /* border: 1px solid #1386c7; */
  border-radius: 8px;
  background-color: #1386c7; /* Цвет фона формы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень */
  padding: 40px;
  margin: 0 auto;
  /* margin-top: 150px; */
  /* justify-content: center; */
  /* width: 30%; */
  max-width: 320px;
}
