.footer {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: var(--footer-color-bg, #1386c7);
  padding: 2rem;
}

.wrapper {
  text-align: center;
  border-radius: 30px;
  border: 2px solid var(--text-color-white, #ffffff);
}

.wrapperAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.2rem 0;
}

.tel {
  margin-bottom: 0.8rem;
  font-family: 'Roboto Condensed';
  font-size: 4.8rem;
  font-weight: 700;
  /* letter-spacing: -1.4px; */
  color: var(--text-color-white, #ffffff);
}

.address {
  color: #fff;

  font-family: 'Roboto Condensed';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 127%; /* 40.64px */
}

.thumb {
  padding: 2.5rem 0 3.6rem;
  background-color: #fff;
  border-radius: 2rem;
}

.logo {
  width: 19.3rem;
  height: 14.9rem;
}

/* Template */

@media screen and (min-width: 1140px) {
  .root {
    background-color: var(--body-bg, #ffffff);
  }
  .wrapper {
    display: flex;
    align-items: center;
  }

  .wrapperAddress {
    padding: 3rem 0 2.7rem;

    text-align: center;
    flex-grow: 2;
  }
  .tel {
    margin-bottom: 1rem;
    font-size: 8.8rem;
    /* letter-spacing: -1.4px; */
  }

  .address {
    font-size: 3.2rem;
  }

  .thumb {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .logo {
    width: 19.3rem;
    height: 14.9rem;
  }
}
