.section {
  padding-bottom: 2rem;

  display: flex;
  justify-content: center;
}

.thumb {
  max-width: 22.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 229px;
  height: 186px;
}

@media screen and (min-width: 375px) {
  .section {
    padding-bottom: 4rem;
  }

  .logo {
    width: 327px;
    height: 253px;
  }

  .thumb {
    max-width: 328rem;
  }
}
/* @media screen and (min-width: 375px) {
  .thumb {
    max-width: 478rem;
  }
} */

@media screen and (min-width: 768px) {
  .logo {
    width: 478px;
    height: 369px;
  }
}
