.section {
  padding-bottom: 2rem;

  display: flex;
  justify-content: center;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 22.9rem;
  height: 17.6rem;
}

@media screen and (min-width: 375px) {
  .section {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 47.8rem;
    height: 36.9rem;
  }
}
