.right {
  padding-left: 2rem; /* Уменьшим левый отступ до 2rem */
  padding-right: 2rem; /* Уменьшим правый отступ до 2rem */
  background: rgba(187, 226, 248, 0.4);
}

.bg {
  background: linear-gradient(to right, #d4ecfa 61.7%, #ffffff 39.3%);
}

@media screen and (min-width: 1140px) {
  .main {
    display: flex;
    gap: 3.4rem; /* column-gap заменяем на gap */
  }

  .left {
    width: 647px;

    flex: 1;
    overflow-y: auto;
  }

  .right {
    width: 333px;
    padding-left: 3.4rem; /* Увеличим левый отступ до 3.4rem */
    padding-right: 3.4rem; /* Увеличим правый отступ до 3.4rem */

    overflow-y: auto;
    overflow: hidden;
  }

  .right:hover {
    overflow-y: auto;
  }
}
