.appNotifier {
  position: relative;

  z-index: 3000;
}
.notify {
  position: absolute;
  top: 20px;
  right: 20px;
}

.wrapper {
  padding: 16px;
  border-radius: 8px;
  width: 300px;
  height: 100px;
}

.success {
  border: 1px solid green;
  background-color: green;
}

.error {
  border: 1px solid red;
}
