.wrapper {
  max-width: 23.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapperTel,
.wrapperAddress {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.linkTel,
.linkAddress {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.056rem;
  color: var(--text-color-white);
}

@media screen and (min-width: 375px) {
  .wrapper {
    max-width: 26.5rem;
  }

  .linkTel,
  .linkAddress {
    font-size: 1.6rem;
    letter-spacing: 0.64px;
  }
}
