.root {
  /* background: linear-gradient(to right, #d4ecfa 50%, #ffffff 50%); */
}
.wrapper {
  display: flex;

  justify-content: space-between;

  min-height: 70vh;
}

.reviews {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 1140px) {
  .reviews {
    padding-left: 0;
    padding-right: 0;
  }
}
