.noReviews {
  color: rgba(0, 0, 0, 0.7);

  font-size: 28px;

  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.32px;
  height: 70vh;
}
.wrapper {
  /* display: flex; */
  /* height: 80vh; */
  /* justify-content: space-between; */
}

.reviews {
  padding: 4rem 0 5rem;
}

.reviewsTitle {
  margin-bottom: 4rem;
  font-size: 5.4rem;
  font-weight: 700;

  letter-spacing: 1.08px;
  color: var(--text-color-heading-primery, #000);
}

.line {
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #1386c7;
}

.wrapperPagination {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1140px) {
  .reviews {
    padding-left: 0;
    padding-right: 0;
  }
}
