.form {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;

  gap: 20px;
  z-index: 1000;
}

.wrap {
}

.label {
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding: 8px;
}

.btn {
  max-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;

  color: #fff;
  background-color: green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;

  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  border-radius: 8px;
  border: transparent;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(3, 104, 3);
}

.btn:active {
  box-shadow: none;
  transform: scale(0.98);
}

.input.errorInput {
  outline: 1px solid red;
}

.messageError {
  font-size: 1.2rem;
  color: red;
  font-weight: 400;
}
